.calculator {
  display: flex;
  gap: 30px;
}

.memory-container {
  border: 1px solid black;
}

.screen-container {
  display: flex;
  margin-bottom: 10px;
}

.screen {
  width: 220px;
  height: 30px;
  background-color: #AAAAAA;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.button {
  background-color: #DDDDDD;
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 15px;

  &:hover {
    background-color: #CCCCCC;
  }

  &:active {
    background-color: #BBBBBB;
  }
}